async-pymongo==0.1.4 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
colorlog==6.8.0 ; python_version >= "3.10" and python_version < "4.0"
dnspython==2.4.2 ; python_version >= "3.10" and python_version < "4.0"
pyaes==1.6.1 ; python_version >= "3.10" and python_version < "4.0"
pymediainfo-pyrofork==6.0.1 ; python_version >= "3.10" and python_version < "4.0"
pymongo==4.6.1 ; python_version >= "3.10" and python_version < "4.0"
pyrofork==2.3.16.post5 ; python_version >= "3.10" and python_version < "4.0"
pysocks==1.7.1 ; python_version >= "3.10" and python_version < "4.0"
tgcrypto==1.2.5 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "4.0"
uvloop==0.19.0 ; python_version >= "3.10" and python_version < "4.0"
